.headphonesList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headphonesItem {
    padding: 10px 15px;
    border: 1px solid #5a5757;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.headphonesItem:hover {
    box-shadow: 0 4px 12px rgba(24, 23, 23, 0.1);
}

.headphonesName {
    font-weight: 600;
    color: #333232;
}

.headphonesPrice {
    color: #413f3f;
    margin-left: 8px;
}